.navbar{
    background-color: rgba(0, 0, 0, 0.9)!important;
    color: white !important;
    position: fixed !important;
    right: 0px;
    left: 0px;
    top: 0px;
}
a{
    color: #D34F1F !important;
}
.navbar .active{
    color: white  !important;
}
.navbar a:hover{
    color: whitesmoke !important;
}
.navbar a{
    padding: 0px 28px ;
}