<div class="home">
    <div class="home-layer ">
        <div class="home-content text-center  d-flex justify-content-center align-content-center">
            <div class="content  text-white">
                <h4>Welcome</h4>
                <h1 class="py-3">We are <span>Zoofa's bakery</span> agency</h1>
                <h5 class="  mb-5 sub-title text-muted">video editor - Director - colorist Zoofa's Bakery</h5>
                <a class="contact-btn" href="#">Contact Us</a>

                
            </div>
            <div class="fixed-icons">
                <div class=" first-icon  position-fixed">
                    <i class="fa-solid fa-clapperboard"></i>                                 </div>
                <div class="icon-down"></div>
                <div class="up-icon"></div>
            </div>

           
        </div>
    </div>
</div>
